html {
  width: 100vw;
  font-size: 62.5%;
  font-family: 'Climate Crisis', cursive;
  font-family: 'Genos', sans-serif;
  font-family: 'Rubik Iso', cursive;
  font-family: 'Shadows Into Light', cursive;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


